<form>
  <input size=28 type="text" name='title'
  class=".boxsizingBorder" placeholder="Title"/>
  <textarea rows=5 columns=40 name="content" 
  class="resize_vertical .boxsizingBorder"
  placeholder="Question"/><br/>
  <input type="submit" value="ask" />
</form>

<button class="close">cancel</button>