<% content_for :bootstrapData do %>
  Footnotes.Home.recentNotes = <%= raw @recent_notes.to_json %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_tag do %>
    $(function() {
      Footnotes.Home.init();
    });
  <% end %>
<% end %>

<div id="recent_notes">
<h1>Recent</h1>
</div>
<div id="welcome">
<h1>Welcome to withFootnotes</h1>
<p>Footnotes is an application for attaching additional context to existing pages on the web. It's currently pre-pre-beta and thus doesn't do too much.</p>

<%= link_to 'learn about apples', '/overlay?external_url=http://en.wikipedia.org/wiki/Apple' %>

<h1>View a New URI With Footnotes</h1>
<% if @overlay_fail %>
  <span class="alert">Unable to find <%= @overlay_fail %><span/>
<% end %>
<form action="/overlay" name="URIFinder" method="get">
<input type="text" placeholder="URI" name="external_url"/>
<input type="submit" value="go"/>
</form>
</div>