<h1>Welcome to withFootnotes</h1>
<p>Footnotes is an application for attaching additional context to existing pages on the web. It's currently pre-pre-pre-beta and thus doesn't do anything.</p>

<%= link_to 'get a username', new_username_path %>
