

<div class="title clickable">
  <span class="text">{{title}}</span>
</div>

<div class="info">
  <span class="author">
    {{#creatorID}}
      <a href="/users/{{creatorID}}">{{creatorName}}</a>
    {{/creatorID}} 
    {{^creatorID}}
    anonymous
    {{/creatorID}}
    at {{createdAt}}
  </span>
</div>

<div class="content">
 <span class="type_indicator">Q</span> {{content}}
</div>
{{#canEdit}}
<button class="edit">edit</button>
{{/canEdit}}