
<div class="title clickable {{id}} {{note_type}}">
  {{title}}
</div>

<div class="info">
  <span class="author">
    {{creator_name}}
  </span>
</div>

<div class="content">
 <span class="Q">Q</span> {{content}}
</div>
