

<div class="title">
  <span class="minimize clickable">-</span>
  <span class="text">{{title}}</span>
</div>

<div class="info">
  <span class="author">
    {{#creatorID}}
      <a class="toCreatorPage" href="/users/{{creatorID}}">{{creatorName}}</a>
    {{/creatorID}} 
    {{^creatorID}}
    anonymous
    {{/creatorID}}
    at {{createdAtPretty}}
  </span>
</div>

<div class="content">
 <span class="type_indicator">Q</span> {{content}} <br/>
 <span class="responses">{{descendantCount}} below</span>
</div>
<div class="pusher"></div>
{{#canEdit}}
<button class="edit">edit</button>
{{/canEdit}}