/******************
* Colors
******************/

$footnotesBlue: #204080;

/******************
* Dimensions
******************/

$pageWidth: 900px;
$overlayHeight:1000px; 

/******************
* Mixins
******************/

@mixin soft_corners {
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin round_corners {
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@mixin round_top {
  -moz-top-left-border-radius: 10px;
  border-top-left-radius: 10px;
  -moz-top-right-border-radius: 10px;
  border-top-right-radius: 10px;
}

@mixin round_bottom {
  -moz-bottom-left-border-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-bottom-right-border-radius: 10px;
  border-bottom-right-radius: 10px;
}

@mixin clickable {
  cursor:pointer;
}

/******************
* Body
******************/

.body, .html{
  margin:auto;
  text-align: center;
  font-family: Arial, Sans-Serif;
  text-align:center;
  color:#222;
  height: 100%;
  margin-bottom:20px;
}

h1,h2,h3,h4,h5,h6{
  text-align:center;
  color:$footnotesBlue;
}

button  {
  @include clickable;
}

textarea,input[type=text]{
  width:100%;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration:underline;
  }
}

button{
  font-size:12px;
  border-style:none;
  background-color:transparent;
  color:$footnotesBlue;
  &:hover{
    text-decoration:underline;
  }
}


/******************
* Header
******************/

.pusher{
  clear: both;
}

.navbar{
  min-width:$pageWidth;
  position:center;  margin: -10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom:20px;
  background-color: $footnotesBlue;
  color: white;
  .header-container{
    margin:auto;
    max-width:$pageWidth;
    .logo{
      font-weight: bold;
      font-size: 50px;
      float:left;
      a:hover{
        text-decoration:none;
      }
    }
    ul{
      margin:0px;
      margin-top:25px;
      float:right;
      li{
        padding:5px;
        list-style: none;
        display: inline;
      }
    }
    a{
      color: white;
    }
  }
}

/******************
* Body Center
******************/

.container{
  margin:auto;
  height: 100%;
  max-width:$pageWidth;
  min-width:$pageWidth;
}

/*******************
* Home
*******************/

#recent_notes{
  float:right;
  width:280px;
  margin-left:20px;
  height: $overlayHeight;
  overflow:scroll;
}
#welcome{
  margin-right:600px;
}

/*******************
* Home
*******************/
body{
  text-align:center;
}

#myNotes{
  margin:auto;
  width:280px;
  height: $overlayHeight;
  overflow:scroll;
}

/*******************
* First Edit
*******************/
#user_info_form{
  width:300px;
  margin:auto;
}

/*******************
* Overlay
*******************/

#focal_item{
  border-top:none;
  margin-left:-10px;
  width:75%;
  height: $overlayHeight;
  @include soft_corners;
}

#right_bar{
  .new{
    padding-right:10px;
  }
  .notes{
    padding-right:10px;
  }
  float: right;
  height: $overlayHeight;
  width:22%;
  overflow:scroll;
}

/******************
* Note Lists
******************/

.notes{
  
}

/******************
* Footnote
******************/

.footnote{
  text-align:left;
  margin:10px;
  margin-left:0px;
  padding: auto;
  background-color:#f8f8fe;
  border:1px solid white;
  @include round_corners;
  .title{
    @include round_top;
    text-align:center;
    color: white;
    background-color:$footnotesBlue;
    font-size:18px;
    .text{
    }
    .type_indicator{
      margin:0px;
      padding:0px;
      float: left;
    }
  }
  .info{
    background-color:#e6e6ee;
    text-align:right;
    padding:0px;
    padding-right:5px;
    color:#889;
    font-size:14px;
    border-bottom:solid white 1px;
  }
  *{
    padding-left:10px;
  }
  .type_indicator{
    margin-right:10px;
    font-size:20px;
  }
  .minimized{
    @include round_corners;
  }
  .content{
    padding-bottom: 5px;
  }
}


/******************
* Miscellaneous
******************/

.alert{
  color:red;
  li{
    color:red;
    list-style:none;
    }  
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.resize_vertical{
  resize:vertical;
}

.clickable:hover {
  cursor:pointer;
}

.debug_dump {
  background-color:#f9f9ff;
  margin-top:60px;
  padding: 10px;
  padding-left:20px;
  border: solid 1px #ccd;
  @include soft_corners;
}

/******************
* Dynamic Classing
******************/

.full_width{
  max-width: none;
}

