/******************
* Colors
******************/

$footnotesBlue: #204080;

/******************
* Dimensions
******************/

$pageWidth: 900px;
$overlayHeight:1000px; 

/******************
* Mixins
******************/

@mixin soft_corners {
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin round_corners {
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@mixin clickable {
  cursor:pointer;
}

/******************
* Body
******************/

.body, .html{
  margin:auto;
  text-align: center;
  font-family: Arial, Sans-Serif;
  text-align:center;
  color:#222;
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
  color:#225
}

button,  {
  @include clickable;
}

textarea,input[type=text]{
  width:100%;
}

/******************
* Header
******************/

.pusher{
  clear: both;
}

.navbar{
  min-width:$pageWidth;
  position:center;  margin: -10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom:20px;
  background-color: $footnotesBlue;
  color: white;
  .header-container{
    margin:auto;
    max-width:$pageWidth;
    .logo{
      font-weight: bold;
      font-size: 50px;
      float:left;
      a:hover{
        text-decoration:none;
      }
    }
    ul{
      margin:0px;
      margin-top:25px;
      float:right;
      li{
        padding:5px;
        list-style: none;
        display: inline;
      }
    }
    a{
      color: white;
      text-decoration: none;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}

/******************
* Body Center
******************/

.container{
  margin:auto;
  height: 100%;
  max-width:$pageWidth;
  min-width:$pageWidth;
}

/*******************
* Home
*******************/

#recent_notes{
  float:right;
  width:350px;
  margin-left:20px;
}


/*******************
* Overlay
*******************/

#focal_item{
  border-top:none;
  margin-left:-10px;
  width:75%;
  height: $overlayHeight;
  @include soft_corners;
}

#right_bar{
  .new{
    padding-right:10px;
  }
  .notes{
    overflow:scroll;
    padding-right:10px;
  }
  float: right;
  height: $overlayHeight;
  width:22%;
}

/******************
* Note Lists
******************/

.notes{
  
}

/******************
* Footnote
******************/

.footnote{
  margin:10px;
  margin-left:0px;
  padding: auto;
  background-color:#f8f8fe;
  border:1px solid white;
  @include round_corners;
  .title{
    text-align:center;
    background-color:#e0e0ff;
    font-size:18px;
    border-bottom:solid 3px white;;
  }
  *{
    padding-left:10px;
  }
  .Q{
    margin-right:10px;
    font-size:20px;
  }
}

/******************
* Miscellaneous
******************/

.alert{
  color:red;
  li{
    color:red;
    list-style:none;
    }  
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.resize_vertical{
  resize:vertical;
}

.clickable:hover {
  cursor:pointer;
}

.debug_dump {
  background-color:#f9f9ff;
  margin-top:60px;
  padding: 10px;
  padding-left:20px;
  border: solid 1px #ccd;
  @include soft_corners;
}

/******************
* Dynamic Classing
******************/

.full_width{
  max-width: none;
}

