/******************
* Colors
******************/

$footnotesBlue: #204080;

/******************
* Dimensions
******************/

$pageWidth: 900px;
$overlayHeight:1000px; 

/******************
* Mixins
******************/

@mixin soft_corners {
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/******************
* Body
******************/

.body, .html{
  margin:auto;
  text-align: center;
  font-family: Arial, Sans-Serif;
  text-align:center;
  color:#222;
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
  color:#225
}

/******************
* Header
******************/

.pusher{
  clear: both;
}

.navbar{
  min-width:$pageWidth;
  position:center;  margin: -10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $footnotesBlue;
  margin-bottom: 50px;
  color: white;
  .header-container{
    margin:auto;
    max-width:$pageWidth;
    .logo{
      font-weight: bold;
      font-size: 50px;
      float:left;
      a:hover{
        text-decoration:none;
      }
    }
    ul{
      margin:0px;
      margin-top:25px;
      float:right;
      li{
        padding:5px;
        list-style: none;
        display: inline;
      }
    }
    a{
      color: white;
      text-decoration: none;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}

/******************
* Body Center
******************/

.container{
  margin:auto;
  height: 100%;
  min-width:$pageWidth;
}

/*******************
* Overlay
*******************/

#focal_item{
  width:75%;
  margin-top: 40px;
  height: $overlayHeight;
  @include soft_corners;
}

.right_bar{
  .contents{
    height: $overlayHeight - 50px;
    overflow:scroll;
  }
  float: right;
  height: $overlayHeight;
  width:20%;
}

/******************
* Footnote
******************/

.footnote{
  border:solid 1px grey;
}

/******************
* Miscellaneous
******************/

.alert{
  color:red;
  li{
    color:red;
    list-style:none;
    }  
}

.debug_dump {
  background-color:#f9f9ff;
  margin-top:60px;
  padding: 10px;
  padding-left:20px;
  border: solid 1px #ccd;
  @include soft_corners;
}

