

<% use_full_width true %>
<% content_for :topic do %>
 <%= @topic %> |
<% end %>
<% content_for :scripts do %>
  <%= javascript_tag do %>
    $(function() {
      Footnotes.Overlay.init();
    });
  <% end %>
<% end %>


<div class="right_bar">
  <h1>Footnotes</h1>
  <div id="footnotes" class="contents">

  </div>
</div>

<iframe id="focal_item" src="/overlay/proxy?external_url=<%= @external_url %>"></iframe>

<div class="pusher"></div>