

<% use_full_width true %>
<% content_for :topic do %>
 <%= @topic %> |
<% end %>
<% content_for :scripts do %>
  <%= javascript_tag do %>
    $(function() {
      Footnotes.Overlay.init();
    });
  <% end %>
<% end %>


<div id="right_bar">
</div>

<iframe id="focal_item" src="/overlay/proxy?external_url=<%= @external_url %>"></iframe>

<div class="pusher"></div>