<h1>Create a Username</h1>
<p>withFootnotes requires you to create a unique username to associate with your footnotes and other actions on the site.</p>
<%= form_tag(usernames_path, :method => "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Go") %>
<% end %>
